<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <bean id="repository" class="query.MongoRepository">
        <constructor-arg index="0">
            <bean id="dburi" class="com.mongodb.MongoClientURI">
                <constructor-arg value="mongodb://localhost:27017/test"></constructor-arg>
            </bean>
        </constructor-arg>
        <constructor-arg value="dataPoints"></constructor-arg>
    </bean>

</beans>